/* Google Web Font */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
// Variables
$font_base: 15px;
$color_primary: #ebe2d0;
$color_secondary: #1b1b1b;
$font_en: "Raleway", sans-serif;
$font_title: "Orbitron", sans-serif;
$font_logo: "Rock Salt", cursive;
